.board {
    min-height: 500px;
    height: 100% !important
}

.tab-pane {
    padding-top: 1% !important
}

.budget {
    margin: 2% 0
}

.stateDescription {
    width: 93%;
    float: left;
}

.total {
    width: 95%;
    text-align:right;
    font-size: 1.3em
}