<div class="container">
    <section>
            <div class="row">
                <div class="board">
                    <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                            <div class="liner"></div>
                            <li class="active">
                                <a href="#listOfMonthly" data-toggle="tab" title="listOfMonthly">
                                <span class="round-tabs two">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                </a>
                            </li>
    
                            <li>
                                <a href="#addMonthly" data-toggle="tab" title="addMonthly">
                                <span class="round-tabs one">
                                    <i class="glyphicon glyphicon-credit-card"></i>
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="tab-content">
                        <div class="tab-pane in active" id="listOfMonthly">
                            <div class="col-sm-12">
                                <div class="bs-calltoaction bs-calltoaction-default">
                                    <div class="row">
                                        <div class="col-md-9 cta-contents">
                                            <h1 class="cta-title">Its a Call To Action</h1>
                                            <div class="cta-desc">
                                                <p>Describe the action here.</p>
                                                <p>Describe the action here.</p>
                                                <p>Describe the action here.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 cta-button">
                                            <a href="#" class="btn btn-lg btn-block btn-default">Go for It!</a>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade fade" id="addMonthly">
                            <div class="get-in-touch">
                                <h1 class="title">add something</h1>
                                <form class="contact-form row">
                                   <div class="form-field col x-50">
                                      <input id="dexcription" class="input-text js-input" type="text" required>
                                      <label class="label" for="description">Description</label>
                                   </div>
                                   <div class="form-field col x-50">
                                      <input type="date"/>
                                      <label class="label" for="when">When?</label>
                                   </div>
                                   <div class="form-field col x-100">
                                      <input id="howmuch" class="input-text js-input" type="number" step="0.01" min=0 required>
                                      <label class="label" for="howmuch">How Much?</label>
                                   </div>
                                   <div class="form-field col x-100 align-center">
                                      <input class="submit-btn" type="submit" value="Submit">
                                   </div>
                                </form>
                              </div>
                        </div>  
                        
                        
                        <div class="clearfix"></div>
                    </div>
    
                </div>
            </div>
    </section>
</div>