<app-navigation></app-navigation>
<app-menu></app-menu>

<div class="container">
        <div class="row">       
            <data-table id="desire-grid"
            headerTitle="Desire"
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadItems($event)"
            >
            <data-table-column
                [property]="'description'"
                [header]="'Description'"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            <data-table-column
                property="price"
                header="Amount"
                width="150px"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                [property]="'category'"
                [header]="'Category'"
                [sortable]="true">
            </data-table-column>
            <data-table-column
                width="80px">
                <ng-template #dataTableCell let-item="item">
                    <button (click)="moveDesire(item)" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </ng-template>
            </data-table-column>
            <data-table-column
            width="80px">
                <ng-template #dataTableCell let-item="item">
                    <button (click)="removeDesire(item)" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>
</div>