.board {
    min-height: 500px;
    height: 100% !important
}

td, tr, th {
    border: none !important;
    padding: 2% !important;
}

td {
    background: #fff;
    font-size: 1.3em !important
}

tr {
    border-bottom: 1px solid #E0E0E0 !important;
}

thead {
    background: #000;
    color: #fff
}

.data-table-header h4{
    font-size: 4em !important
}