<!-- FONTS --><!-- Roboto, Yellowtail, and Montserrat -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Yellowtail" rel="stylesheet"><!-- PAGE STUFF -->

<div class="rela-block container">
  <div class="rela-block profile-card">
    <div id="profile_pic"><img class="profile-pic" src="assets/user_default.png"/></div>
    <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="username">{{user.username}}</div>
        <div class="rela-block user-desc" id="user_description">{{user.email}}</div>
    </div>
    <div class="rela-block profile-card-stats">
        <div class="floated profile-stat works" id="num_works">28<br></div>
        <div class="floated profile-stat followers" id="num_followers">112<br></div>
        <div class="floated profile-stat following" id="num_following">245<br></div>
    </div>
  </div>
  <div class="rela-block content">

  </div>
  <div class="rela-inline button more-images" ng-click="saveChanges()">Save changes</div>
</div>