#addMonthly h1 {
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 3% !important
  }
  
  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  .dlk-radio input[type="radio"]
  {
      margin-left:-99999px;
      display:none;
  }
  .dlk-radio input[type="radio"] + .fa {
       opacity:0.15
  }
  .dlk-radio input[type="radio"]:checked + .fa {
      opacity:1
  }
  