<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-left:15%">
          <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                  <div class="price">
                      <p class="plan-name">Basic</p>
                      <span class="price-text">$</span>299
                  </div>
                  <div class="plan-div">
                      <p class="plan-text">
                          The watch will be analyzed and graded by one of our professional watchmakers. Due to demand,
                          completion of grading currently takes two to three weeks from receipt of the watch.
                      </p>
                  </div>
                  <div class="pricing-footer">

                      <a href="#" class="btn db-button-color-square btn-m round">Select Plan</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                  <div class="price">
                      <p class="plan-name">Premium</p>
                      <span class="price-text">$</span>379

                  </div>
                  <div class="plan-div">
                      <p class="plan-text">
                          Our premium package includes the services in our Basic Package as well as expedited
                          fulfillment. Each watch is returned via overnight delivery and we guarantee completion of
                          grading within 7 business days from receipt of the watch.
                      </p>
                  </div>
                  <div class="pricing-footer">

                      <a href="#" class="btn db-button-color-square btn-m round">Select Plan</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                  <div class="price">

                      <p class="plan-name">Luxe</p>
                      <span class="price-text">$</span>499

                  </div>

                  <div class="plan-div">
                      <p class="plan-text">
                          Our Luxe Package includes the services in our Premium Package as well as our Refinishing
                          Service. Each watch is returned via overnight delivery and we guarantee completion of
                          grading and polishing within 7 business days from receipt of the watch.
                      </p>
                  </div>
                  <div class="pricing-footer">

                      <a href="#" class="btn db-button-color-square btn-m round">Select Plan</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row" styel="padding-top:10px">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-left:25%">
          <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                  <div class="price">
                      <p class="plan-name">Finishing</p>
                      <span class="price-text">$</span><span style="font-size: 27px;">149</span>

                  </div>
                  <div class="plan-div">
                      <p class="plan-text">
                          Refinishing : Luxe Certified will refinish a users watch to improve its appearance if
                          necessary. Luxe Certified will repair the movement if necessary. Crystal Replacement : Luxe
                          Certified will repair or replace the crystal if necessary.
                      </p>
                  </div>
                  <div class="pricing-footer">

                      <a href="#" class="btn db-button-color-square btn-m round">Select Plan</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <div class="db-wrapper">
              <div class="db-pricing-eleven db-bk-color-one">
                  <div class="price">
                      <p class="plan-name">Basic</p>
                      <span class="price-text" >$</span>799

                  </div>
                  <div class="plan-div">
                      <p class="plan-text">
                          Our Luxe Package includes the services in our Premium Package as well as our Refinishing
                          Service. Each watch is returned via overnight delivery and we guarantee completion of
                          grading and polishing within 7 business days from receipt of the watch.
                      </p>

                  </div>
                  <div class="pricing-footer">

                      <a href="#" class="btn db-button-color-square btn-m round">Select Plan</a>
                  </div>
              </div>
          </div>
      </div>


  </div>


</div>