<div class="container">
  <div class="row">
    <div class="col-sm-4">
          <h3>Choose a username</h3>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="username_reg" type="text" class="form-control" name="username" placeholder="Username"/>
            </div>
          <h3>Choose a password</h3>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password_reg" type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="repeatpassword_reg" type="password" class="form-control" name="repeatpassword" placeholder="Repeat Password"/>
            </div>
          <h3>Choose your currency</h3>
          <select class="form-control" id="currencyList_reg" name="currencies">
          </select>
      </div>
    </div>
    <div class="col-sm-4"></div>
  <div class="row">
    <a id="save"><div class="register">Save!</div></a>
    <div class="col-sm-4 col-sm-offset-4"><div id="msg_reg" style="display:none; margin-top: 1%" class="alert"></div></div>
  </div>
</div>
